.block_manager_dashboard {
    #block_manager_dashboard-certifications,
    #block_manager_dashboard-employee
    {
        > tbody > tr > td {
            vertical-align: middle;
            // padding: 0;
        }

        tr.window-open {
            color: red;
        }

        .certification_assign_notifications .alert-success {
            padding: 5px 35px 5px 15px;
        }
    }

    label.full {
        color: grey;
    }

    a.sorttoggle {
        &.desc::after {
            color: black;
            content: " \02191 ";
        }

        &.asc::after {
            color: black;
            content: "  \02193 ";
        }
    }

    .panel .panel {
        margin: 10px;
    }

    .orderrefrence {
        display: inline;
    }

    .modal-lg {
        width: 925px;
    }

    .certification_assign_notifications .alert {
        padding: 0 35px 0 0;
    }
    #manager_dashboard-searchform #searchname {
      display:inline-block;
    }
    #manager_dashboard-searchform .btn-export,
    #manager_dashboard-searchform .btn-add-user{
      width: auto;
    }
    .has-error input[type="checkbox"] {
      -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
      -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
      box-shadow: 0px 0px 0px 1px rgba(255,0,0,1);
    }
}
