{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
<table id="block_manager_dashboard-approvalrequired" class="table block_manager_dashboard-approvalrequired">
    <tr>
        <th>{{#str}}fullname{{/str}}</th>
        <th>{{#str}}certification, totara_certification{{/str}}</th>
        <th>{{#str}}completiontimeexpires, totara_certification{{/str}}</th>
        <th></th>
    </tr>
    {{#pending}}
    <tr>
        <td>{{#flex_icon}}user, user, block_manager_dashboard{{/flex_icon}} {{userfullname}}</td>
        <td>{{#flex_icon}}competency, competency, block_manager_dashboard{{/flex_icon}} {{certname}}</td>
        <td class="window-open">{{expires}}</td>
        <td>
            <a class="btn btn-primary"
                data-userid="{{userid}}"
                data-fullname="{{userfullname}}"
                data-program="{{programid}}"
                data-toggle="modal"
                data-target="#assignModal"
                >
                {{#flex_icon}}repeat, repeat, block_manager_dashboard{{/flex_icon}}
                {{#str}}renew, block_manager_dashboard{{/str}}
            </a>
        </td>
    </tr>
    {{/pending}}
</table>
