{{!
This file is part of Totara LMS

Copyright (C) 2016 onwards Totara Learning Solutions LTD

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. }}
<li class="list-group-item">
  <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseCert{{pid}}" aria-expanded="false"
    aria-controls="collapseCert{{pid}}">
    {{fullname}}
    {{#flex_icon}}plus, plus, block_manager_dashboard{{/flex_icon}}
  </a>
  <div class="collapse cert" id="collapseCert{{pid}}" data-certid="{{pid}}">
    <div class="well">
      <form>
        <p>{{#str}}assigning, block_manager_dashboard, {{fullname}}{{/str}}</p>
        <div class="learningtype clearfix">
          <div class="loading clearfix">{{#flex_icon}}loading, loading, block_manager_dashboard{{/flex_icon}}</div>
          <div class="pickadate clearfix"></div>
        </div>
        <hr />
        <label><input type="checkbox" name="understand" class="understand"> {{#str}}understand,
          block_manager_dashboard{{/str}}</label>
        <input type="hidden" value="{{pid}}" name="certificationid">
        <input class="hiddenuserid" type="hidden" value="" name="userid">
        <hr />
        <div class="clearfix">
          <div class="form-group orderrefrence">
            <label for="orderrefrence">{{#str}}orderrefrence, block_manager_dashboard{{/str}}</label>
            <input type="text" class="form-control" id="orderrefrence" name="orderrefrence">
          </div>
          <a style="display:none;" class="btn btn-primary assignuser pull-right disabled">
            {{#str}}assignuser, block_manager_dashboard{{/str}}
          </a>
        </div>
      </form>
    </div>
  </div>
</li>
