{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
 
    <tr class="block_manager_dashboard-row-item" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-employee-{{id}}" data-target="#collapse-employee-{{id}}">
        <td>
          {{^ismanager}}
            {{#flex_icon}}user, user, block_manager_dashboard{{/flex_icon}}
          {{/ismanager}}
          {{#ismanager}}
            {{#flex_icon}}permissions, permissions, block_manager_dashboard{{/flex_icon}}
          {{/ismanager}}
        </td>
        <td>{{fullname}}</td>
        <td>{{organisationname}}</td>
        <td><a class="email" href="mailto:{{email}}">{{#flex_icon}}email, email, block_manager_dashboard{{/flex_icon}}</a></td>
        <td><a class="pull-right detaillink" data-target="#collapse-employee-{{id}}">
            {{#flex_icon}}caret-right, caret-right, block_manager_dashboard{{/flex_icon}}
        </a></td>
    </div>
    <tr class="block_manager_dashboard-row-item">
    <td colspan="5">
        <div class="collapse" id="collapse-employee-{{id}}">
                {{> block_manager_dashboard/certification_assign }}
                {{> block_manager_dashboard/certification_assign_notifications }}
                {{> block_manager_dashboard/certification_current }}
                {{> block_manager_dashboard/certification_certified }}
                {{> block_manager_dashboard/certification_expired }}
            </div>
        </td>
    </tr>
