{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}


<tr class="block_manager_dashboard-certificate-item">
   <td>{{#flex_icon}}competency, competency, block_manager_dashboard{{/flex_icon}}</td>
   <td><h3>
   {{#showcourselink}}
      <a href="{{courselink}}">{{fullname}}</a>
   {{/showcourselink}}
   {{^showcourselink}}
      {{fullname}}
   {{/showcourselink}}
   </h3></td>
   <td>{{{enrolled_at}}}</td>
   <td>{{{progress}}}</td>
   {{#showcourselink}}
      <td><a class="btn btn-primary" href="{{{courselink}}}">{{#str}}tocourse, block_student_dashboard{{/str}} {{#flex_icon}}course, course, block_manager_dashboard{{/flex_icon}}</a></td>
   {{/showcourselink}}
   {{#allowcancel}}
      <td><a class="btn btn-danger" href="{{{cancellink}}}">{{#str}}unenrol, core_enrol{{/str}} {{#flex_icon}}delete-ns, delete-ns, block_manager_dashboard{{/flex_icon}}</a></td>
   {{/allowcancel}}
</tr>
