{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="tab-content manager-dashboard-content">
    <div class="panel-body panel-body-content tab-pane active">
        {{#hasemployees}}
            <table id="block_manager_dashboard-certifications" class="table block_manager_dashboard-certifications">
            <th>
                <td>
                    <a class="sorttoggle firstname" href="{{{firstnamesort}}}"> {{#str}}firstname{{/str}}</a>,
                    <a class="sorttoggle lastname" href="{{{lastnamesort}}}" >{{#str}}lastname{{/str}}</a>
                </td>
                <td>
                    <a href="#">{{#str}}displayname:org, tool_totara_sync{{/str}}</a>
                </td>
                <td></td><td></td>
            </th>
                {{#employees}}
                    {{> block_manager_dashboard/certification_row }}
                {{/employees}}
            </table>
            {{/hasemployees}}
            {{^hasemployees}}
                <p>{{{no_employees}}}</p>
        {{/hasemployees}}
    </div>
</div>
