{{!
This file is part of Totara LMS

Copyright (C) 2016 onwards Totara Learning Solutions LTD

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>. }}
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading{{id}}" data-toggle="collapse"
    href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" style="background-color: white;">
    <h1>
      {{ categoryname }}
      <a class="pull-right"> {{#flex_icon}}plus, plus, block_manager_dashboard{{/flex_icon}}</a>
    </h1>
  </div>
  <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
    <ul class="list-group" style="margin-left: 0;">
    </ul>
  </div>
</div>
