{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{#str}}status_expired, totara_certification{{/str}}</h3>
  </div>
  <div class="panel-body">
    <table id="block_manager_dashboard-employee-{{id}}-certifications" class="block_manager_dashboard-employee-certifications table table-striped">
        <tr class="block_manager_dashboard-certificate-header">
            <th colspan="2">{{#str}}certification, totara_certification{{/str}}</td>
            <th>{{#str}}completiontimeexpires, totara_certification{{/str}}</td>
        </tr>
        {{#expiredcertifications}}
        <tr class="block_manager_dashboard-certificate-item">
            <td>{{#flex_icon}}competency, competency, block_manager_dashboard{{/flex_icon}}</td>
            <td><h3>{{fullname}}</h3></td>
            <td>{{{expire_date}}}</td>
        </tr>
        {{/expiredcertifications}}
        {{^hasexpired}}
        <tr class="block_manager_dashboard-certificate-item">
            <td colspan=3>{{#str}}no_expired, block_manager_dashboard{{/str}}</td>
        </tr>
        {{/hasexpired}}
    </table>
  </div>
</div>
