<table id="block_manager_dashboard-employee" class="table block_manager_dashboard-employee">
    <th>
        <td>
            <a class="sorttoggle firstname" href="{{{firstnamesort}}}"> {{#str}}firstname{{/str}}</a>,
            <a class="sorttoggle lastname" href="{{{lastnamesort}}}" >{{#str}}lastname{{/str}}</a>
        </td>
        <td>
          {{#str}}username{{/str}}
        </td>
        <td>
            {{#str}}displayname:org, tool_totara_sync{{/str}}
        </td>
        <td></td>
        <td></td>
    </th>
    {{#employees}}
        {{> block_manager_dashboard/manage_employee_row }}
    {{/employees}}
</table>
