{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="form-group">
    <label for="firstname{{id}}" class="col-md-4 control-label">{{#str}}firstname{{/str}}</label>
    <div class="col-md-8">
        <input type="text" class="form-control" id="firstname{{id}}" placeholder="{{#str}}firstname{{/str}}" value="{{firstname}}">
    </div>
</div>
<div class="form-group">
    <label for="lastname{{id}}" class="col-md-4 control-label">{{#str}}lastname{{/str}}</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="lastname{{id}}" placeholder="{{#str}}lastname{{/str}}" value="{{lastname}}">
    </div>
</div>

<div class="form-group">
    <label for="email{{id}}" class="col-md-4 control-label">{{#str}}email{{/str}}</label>
    <div class="col-md-8">
      <input type="email" class="form-control" id="email{{id}}" placeholder="{{#str}}email{{/str}}" value="{{email}}">
    </div>
</div>

<div class="form-group">
    <label for="country{{id}}" class="col-md-4 control-label">{{#str}}country{{/str}}</label>
    <div class="col-md-8">
      <select class="form-control" id="country{{id}}" placeholder="{{#str}}country{{/str}}">
        <option></option>
        {{#countries}}
          <option value="{{key}}" {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
        {{/countries}}
      </select>
    </div>
</div>

<div class="form-group">
    <label for="language{{id}}" class="col-md-4 control-label">{{#str}}language{{/str}}</label>
    <div class="col-md-8">
      <select class="form-control" id="language{{id}}" placeholder="{{#str}}language{{/str}}">
        <option></option>
        {{#languages}}
          <option value="{{key}}" {{#selected}}selected="selected"{{/selected}}>{{value}}</option>
        {{/languages}}
      </select>
    </div>
</div>

<div class="form-group">
    <label for="organization{{id}}" class="col-md-4 control-label">{{#str}}orgname, core_admin{{/str}}</label>
    <div class="col-md-8">
        {{> block_manager_dashboard/organisation_picker }}
      </div>
</div>

<div class="form-group">
    <label for="department{{id}}" class="col-md-4 control-label">{{#str}}department{{/str}}</label>
    <div class="col-md-8">
      <input type="text" class="form-control" id="department{{id}}" placeholder="{{#str}}department{{/str}}" value="{{department}}">
    </div>
</div>

<div class="form-group">
    <label for="manager{{id}}" class="col-md-4 control-label">{{#str}}manager, totara_job{{/str}}</label>
    <div class="col-md-8">
      {{> block_manager_dashboard/manager_picker }}
    </div>
</div>

<div class="form-group">
    <label for="contracttype{{id}}" class="col-md-4 control-label">Contracttype</label>
    <div class="col-md-8">
      <select class="form-control contracttype" id="contracttype{{id}}" placeholder="Contracttype" data-value={{profile_field_Contracttype}}>
        <option></option>
        <option value="0">Regular employee</option>
        <option value="1">Contracted or temporary employee</option>
      </select>
    </div>
</div>

<div class="form-group">
    <label class="col-md-4 control-label">Unit</label>
    <div class="col-md-8">
      <input type="checkbox" {{#profile_field_Imaging}}checked="checked"{{/profile_field_Imaging}} value="1" id="Imaging{{id}}"> Imaging<br>
      <input type="checkbox" {{#profile_field_Instruments}}checked="checked"{{/profile_field_Instruments}}value="1" id="Instruments{{id}}"> Instruments<br>
      <input type="checkbox" {{#profile_field_Precision}}checked="checked"{{/profile_field_Precision}}value="1" id="Precision{{id}}"> Precision<br>
      <input type="checkbox" {{#profile_field_Metrology}}checked="checked"{{/profile_field_Metrology}}value="1" id="Metrology{{id}}"> Metrology<br>
      <input type="checkbox" {{#profile_field_Medical}}checked="checked"{{/profile_field_Medical}}value="1" id="Medical{{id}}"> Medical<br>
      <input type="checkbox" {{#profile_field_Holdings}}checked="checked"{{/profile_field_Holdings}}value="1" id="Holdings{{id}}"> Holdings<br>
    </div>
</div>
