{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}

<select class="form-control managerpicker" id="manager{{id}}" data-value="{{managerid}}">
    <option value="">{{#str}}pick_manager, block_manager_dashboard{{/str}}</option>
    {{#availablemanagers}}
        <option value="{{manager_id}}">{{manager_fullname}}</option>
    {{/availablemanagers}}
</select>
