{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
    <tr class="block_manager_dashboard-row-item"
        id="row-summary-employee-{{id}}"

        data-target="#collapse-employee-{{id}}"
      >
        <td>
            {{#suspended}}
                {{#flex_icon}}enrolment-suspended, enrolment-suspended, block_manager_dashboard{{/flex_icon}}
            {{/suspended}}
            {{^suspended}}
                {{^ismanager}}
                  {{#flex_icon}}user, user, block_manager_dashboard{{/flex_icon}}
                {{/ismanager}}
                {{#ismanager}}
                  {{#flex_icon}}permissions, permissions, block_manager_dashboard{{/flex_icon}}
                {{/ismanager}}
            {{/suspended}}
        </td>
        <td>{{fullname}}</td>
        <td>{{username}}</td>
        <td>{{organisationname}}</td>
        <td><a class="email" href="mailto:{{email}}">{{#flex_icon}}email, email, block_manager_dashboard{{/flex_icon}}</a></td>
        <td><a class="pull-right detaillink"
               data-target="#collapse-employee-{{id}}"

              >
            {{#flex_icon}}caret-right, caret-right, block_manager_dashboard{{/flex_icon}}
        </a></td>
    </tr>
    <tr class="block_manager_dashboard-row-item" id="row-details-employee-{{id}}">
        <td colspan="6">
            <div class="collapse" id="collapse-employee-{{id}}">
                <form>
                    {{> block_manager_dashboard/employee_form }}
                    <input class="btn btn-primary pull-right update-user" type="button" value="Save changes" data-target="{{id}}">
                    {{#suspended}}
                        <a class="btn btn-default unsuspenduser" data-target="{{id}}">
                            {{#flex_icon}}user-refresh, user-refresh, block_manager_dashboard{{/flex_icon}} {{#str}}unsuspenduser, core_admin{{/str}}
                        </a>
                    {{/suspended}}
                    {{^suspended}}
                        <a class="btn btn-default suspenduser" data-target="{{id}}">
                            {{#flex_icon}}enrolment-suspended, enrolment-suspended, block_manager_dashboard{{/flex_icon}} {{#str}}suspenduser, core_admin{{/str}}
                        </a>
                        <a class="btn btn-default resetuserpassword" data-target="{{id}}">
                            {{#flex_icon}}key, key, block_manager_dashboard{{/flex_icon}} {{#str}}newpassword{{/str}}
                        </a>
                    {{/suspended}}

                    {{#can_make_manager}}
                        {{^ismanager}}
                        <a class="btn btn-default make_manager" data-target="{{id}}" data-newrole="manager">
                            {{#flex_icon}}rating-star, rating-star, block_manager_dashboard{{/flex_icon}} {{#str}}make_manager, block_manager_dashboard{{/str}}
                        </a>
                        {{/ismanager}}
                        {{#ismanager}}
                        <a class="btn btn-default make_manager" data-target="{{id}}" data-newrole="student">
                            {{#flex_icon}}rating-star, rating-star, block_manager_dashboard{{/flex_icon}} {{#str}}make_student, block_manager_dashboard{{/str}}
                        </a>
                        {{/ismanager}}
                    {{/can_make_manager}}
                </form>
            </div>
        </td>
    </tr>
