{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="form-group row">
    <div class="col-sm-6">
        {{#flex_icon}}filter, filter, block_manager_dashboard{{/flex_icon}}
        <input type="text" class="form-control" id="searchname" name="searchname" placeholder="{{#str}}search{{/str}}" value="{{searchname}}">
    </div>
    <div class="col-sm-6">
        <select class="form-control organizationpicker" id="searchorganization" name="searchorganization" data-value="{{searchorg}}">
            <option value="-1">{{#str}}searchorg, block_manager_dashboard{{/str}}</option>
            {{#availableorganisations}}
                <option value="{{id}}">{{fullname}}</option>
            {{/availableorganisations}}
        </select>
    </div>
</div>
