{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}
<form action="{{{(url)}}}" method="post" id="manager_dashboard-searchform" class="form">
  {{> block_manager_dashboard/search_filters_default}}
        <div class="form-group row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary form-control btn-export" id="exportList">
                  {{#flex_icon}}download, download, block_manager_dashboard{{/flex_icon}}
                  {{#str}}export, block_manager_dashboard{{/str}}
                </button>
                <button type="button" class="btn btn-primary form-control btn-add-user" data-toggle="modal" data-target="#newEmployeeModal">
                    {{#flex_icon}}plus, plus, block_manager_dashboard{{/flex_icon}}
                    {{#str}}adduser, block_manager_dashboard{{/str}}
                </button>

                <input class="form-control" style="width: auto; display: inline-block;" type="checkbox" id="showsuspended" name="showsuspended" {{{showsuspended}}}>
                <label for="showsuspended">{{#flex_icon}}enrolment-suspended, enrolment-suspended, block_manager_dashboard{{/flex_icon}} Show suspended users</label>
            </div>
        </div>
</form>
