{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="tab-content approvalrequired-dashboard-content clear">
    <div class="panel-body panel-body-content tab-pane active">
        {{#haspending}}
            {{> block_manager_dashboard/approvalrequired_table}}
        {{/haspending}}
        {{^haspending}}
            <p>{{#str}}no_pending, block_manager_dashboard{{/str}}</p>
        {{/haspending}}
    </div>
</div>

{{> block_manager_dashboard/paging}}


{{> block_manager_dashboard/certification_assign_modal }}

{{#js}}
require(['block_manager_dashboard/manager_dashboard_approval', 'theme_roots/bootstrap', 'jquery'], function (manager_dashboard_approval) {
    manager_dashboard_approval.init({{{contextdata}}});
});
{{/js}}