{{!
   This file is part of Totara LMS

   Copyright (C) 2016 onwards Totara Learning Solutions LTD

   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See  the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
}}

{{> block_manager_dashboard/search_filters_employees}}

<div class="tab-content manager-dashboard-content clear">
    <div class="panel-body panel-body-content tab-pane active">
        {{#hasemployees}}
            {{> block_manager_dashboard/employee_table}}
        {{/hasemployees}}
        {{^hasemployees}}
            <p>{{{no_employees}}}</p>
        {{/hasemployees}}
    </div>
</div>

{{> block_manager_dashboard/paging}}
{{> block_manager_dashboard/employee_add_modal }}

{{#js}}
require(['block_manager_dashboard/manager_dashboard_employees', 'theme_roots/bootstrap', 'jquery'], function (manager_dashboard) {
    manager_dashboard.init({{{contextdata}}});
});
{{/js}}